"{{ domain }}" {
				tls {{ user_mail }}
}

"plex.{{ domain }}" {
				proxy 		/					plex:32400		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"radarr.{{ domain }}" {
				gzip
				proxy 		/					radarr:7878		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"sonarr.{{ domain }}" {
				gzip
				proxy 		/					sonarr:8989		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"jackett.{{ domain }}" {
				gzip
				proxy 		/					jackett:9117		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"ombi.{{ domain }}" {
				gzip
				proxy 		/					ombi:3579		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"flood.{{ domain }}" {
				gzip
				proxy 		/					flood:3000		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"tautulli.{{ domain }}" {
				gzip
				proxy 		/					tautulli:8181		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}

"rtorrent.{{ domain }}" {
				gzip
				proxy 		/					flood:443		{
				transparent
				}
				tls {{ user_mail }}
				timeouts none
}