{
  "Port": 9117,
  "AllowExternal": true,
  "APIKey": "rwx4bhso6so9urh3bm2yv1unssaxla6v",
  "AdminPassword": null,
  "InstanceId": "1tuftk9h8scuo2vh0ce8qgurnk8tzrt3nyixdnwdhcr000tv28y2npgyu8fspjta",
  "BlackholeDir": null,
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": "{{ jackett_root }}",
  "OmdbApiKey": null,
  "OmdbApiUrl": null,
  "ProxyUrl": "jackett.{{ domain }}",
  "ProxyType": 0,
  "ProxyPort": null,
  "ProxyUsername": null,
  "ProxyPassword": null,
  "ProxyIsAnonymous": true
}