<Config>
  <LogLevel>Info</LogLevel>
  <Port>8989</Port>
  <UrlBase>{{ sonarr_root }}</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>16bf5fc2bd414a43a1f3590505188959</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>master</Branch>
</Config>